<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Title -->
  <title>Radial Dezigns</title>

  <!-- Required Meta Tags Always Come First -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="index_files/all.min.css">
  <link rel="stylesheet" href="index_files/hs.megamenu.css">
  
  <link rel="stylesheet" href="index_files/animate.min.css">
  <link rel="stylesheet" href="index_files/slick.css">
  

  <!-- CSS Space Template -->
  <link rel="stylesheet" href="css/theme.css">
</head>

<body >
 
  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--modern u-header--bordered u-header--bg-transparent u-header--white-nav-links u-header--sticky-top-lg u-scrolled">
    <div class="u-header__section">
      <div id="logoAndNav" class="container-fluid"> 
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar hs-menu-initialized hs-menu-horizontal">
          <!-- Logo -->
          <div class="u-header__navbar-brand-wrapper">
            <a class="navbar-brand u-header__navbar-brand" href="index.html" aria-label="Radial Dezigns">
              <img class="u-header__navbar-brand-default" src="images/logo.svg" alt="Logo">
              
            </a>
          </div>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
            <span class="d-none d-sm-inline-block">Menu</span>
            <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav">
              <!-- Home -->
              <li class="nav-item " data-event="hover" data-animation-in="fadeInUp" data-animation-out="fadeOut">
                <a id="" class="nav-link u-header__nav-link" href="index.html" >
                  Home
                 
                </a>

              </li>
              <!-- End Home -->

              <!-- Pages -->
              <li class="nav-item " data-event="hover" data-animation-in="fadeInUp" data-animation-out="fadeOut">
                <a id="" class="nav-link u-header__nav-link" href="about.html" >
                  About
                 
                </a>

              </li>
                <!-- End Pages - Mega Menu -->
             
              <!-- End Pages -->

              <!-- Works -->
              <li class="nav-item " data-event="hover" data-animation-in="fadeInUp" data-animation-out="fadeOut">
                <a id="" class="nav-link u-header__nav-link" href="work.html" >
                  Works
                 
                </a>

              </li>
              

              <!-- Button -->
              <li class="nav-item u-header__nav-item-btn">
                <a class="btn btn-sm btn-primary" href="#contact.html" role="button" data-overlay-color="#151b26">
                  
                  Get Free Estimate
                </a>
              </li>
              <!-- End Button -->

              
            </ul>
          </div>
          <!-- End Navigation -->

        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content">
    <!-- Hero Section -->
    <div class="js-slick-carousel u-slick"
         data-infinite="true"
         data-autoplay="true"
         data-speed="7000"
         data-adaptive-height="true"
         data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
         data-arrow-left-classes="fa fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
         data-arrow-right-classes="fa fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
         data-numbered-pagination="#slickPaging">
      <!-- Slide #1 -->
      <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero" style="background: url(images/a3.jpg) center center;">
        <div class="container space-2 space-4-top--lg space-3-bottom--lg">
          <!-- Title -->
          <div class="w-md-80 w-lg-60">
            <div class="mb-4">
              <h1 class="display-4 font-size-48--md-down text-white">Optimum quality services</h1>
              <p class="lead text-white">Right from concept to execution of all residential, commercial and office spaces.</p>
            </div>
            
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Slide #1 -->

      <!-- Slide #2 -->
      <div class="js-slide gradient-overlay-half-dark-v1 bg-img-hero" style="background-image: url(images/work-2.jpg);">
        <div class="container space-2 space-4-top--lg space-3-bottom--lg">
          <!-- Title -->
          <div class="w-md-80 w-lg-60">
            <div class="mb-4">
              <h2 class="display-4 font-size-48--md-down text-white">One Stop Solution</h2>
              <p class="lead text-white">We are offering complete interior designing which include designing, planning and installation of floorings and doors.</p>
            </div>
            <!-- <a class="btn btn-light btn-wide" href="">Learn More</a> -->
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Slide #2 -->
    </div>
    <!-- End Hero Section -->
    

    

    <div class="container space-2 space-3--lg">
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-lg-5 mb-9 mb-lg-0">
            <!-- Title -->
            <div class="mb-5">
              <h2>Who we are            </h2>
              <p class="lead">We are Interior Experts with over 10 years of experience. We provide turnkey services as well as individual home improvement services as per client's need. Our turnkey service suits best for people who look upto us for <b>one stop destination</b> for all services right from scratch to finished product

            </p><p>We believe that great interiors do not need to be difficult or expensive with smart choices & savvy design techniques. </p><p>
                We pay close attention to details and believe that every space can be made beautiful with just a couple of changes client satisfaction is our top priority at all times.


            </p>
            </div>
            <!-- End Title -->
  
            <a class="btn btn-primary btn-wide" href="contact.html">Contact Us <i class="fa fa-angle-right ml-2"></i></a>
          </div>
  
          <div class="col-lg-6">
            <img src="images/about.jpg" class="img-fluid"/>
          </div>
        </div>
      </div>
    

    <!-- Divider -->
    <div class="w-50 w-lg-35 mx-auto">
      <hr class="my-0">
    </div>
    <!-- End Divider -->


    <!-- Features Section -->
    <div class="container space-2 space-2--lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
          <span class="u-label u-label--sm u-label--purple mb-3">Key features</span>
          <h2 class="h3">One-stop shop for everything in interiors        </h2>
          <p>We manage the design process right from understanding your vision to making it a reality.</p>
        </div>
        <!-- End Title -->
  
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-lg-6 mb-7 mb-lg-0">
            <!-- Slick Carousel - Features Main -->
            <div id="featuresSlickNavMain" class="js-slick-carousel u-slick u-slick--pagination-simple u-slick--transform-off"
                 data-infinite="true"
                 data-autoplay="true"
                 data-speed="7000"
                 data-slides-show="3"
                 data-adaptive-height="true"
                 data-vertical="true"
                 data-vertical-swiping="true"
                 data-focus-on-select="true"
                 data-nav-for="#featuresSlickNavThumb">
              <!-- Slide Item -->
              <div class="js-slide u-slick--pagination-simple__item">
                <div class="media">
                  <span class="u-slick--pagination-simple__icon rounded-circle mr-3">
                    <span class="u-slick--pagination-simple__icon-inner">1</span>
                  </span>
                  <div class="media-body">
                    <h3 class="h6 u-slick--pagination-simple__title">Turnkey Projects</h3>
                    <p class="u-slick--pagination-simple__text">
                        <!-- We take the brief about your project and takes it from concept creation through to design. We will then manufacture, purchase and install the interiors.  -->
                        <!-- We work on the project from the start and plans the entire project you just have to provide the budget and your requirements. Once the project is completed it is handed over to you.-->
                        Our company offers turnkey interior solution the tend to give a complete home designs, furniture's, soft furnishing including required electrical appliances etc. We work on the project from the start and plans the entire project. You just have to provide the budget and your requirements.


                    </p> 
                  </div>
                </div>
              </div>
              <!-- End Slide Item -->
  
              <!-- Slide Item -->
              <div class="js-slide u-slick--pagination-simple__item">
                <div class="media">
                  <span class="u-slick--pagination-simple__icon rounded-circle mr-3">
                    <span class="u-slick--pagination-simple__icon-inner">2</span>
                  </span>
                  <div class="media-body">
                    <h4 class="h6 u-slick--pagination-simple__title">Individual Home Improvement Services</h4>
                    <p class="u-slick--pagination-simple__text">If your home is a little old and not looking pleasant then you should never be late to renovate your home. A pleasant home definitely brings happiness to your home. We undertake the renovation in plumbing work, electrical work, civil work, kitchen work, bathroom renovation, carpentry work, polishing and several other things. </p>
                  </div>
                </div>
              </div>
              <!-- End Slide Item -->
  
              
            </div>
            <!-- End Slick Carousel - Features Main -->
          </div>
  
          <div class="col-lg-6">
            <!-- Slick Carousel - Features Main -->
            <div id="featuresSlickNavThumb" class="js-slick-carousel u-slick"
                 data-infinite="true"
                 data-autoplay="true"
                 data-speed="7000"
                 data-fade="true"
                 data-is-thumbs="true"
                 data-nav-for="#featuresSlickNavMain">
              <div class="js-slide">
                <img class="img-fluid" src="images/work-1.jpg"/>
              </div>
  
              <div class="js-slide">
                <img class="img-fluid" src="images/work-2.jpg">
              </div>
  
              
            </div>
            <!-- End Slick Carousel - Features Main -->
          </div>
        </div>
      </div>
      <!-- End Features Section -->

      <div class="container space-2 space-1-lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
          <span class="u-label u-label--sm u-label--purple mb-3">Luxury Interiors</span>
          <h2 class="h3">High-end  Interiors by radial Dezigns</h2>
          <p>As creatives, it's important that we strive to do work outside of obligation. This lets us stay ahead of the curve for our clients and internal projects.</p>
        </div>
        <!-- End Title -->
  
        <!-- Categories -->
        <div class="card-deck d-block d-lg-flex mb-9">
          <article class="card border-0 mb-5 mb-lg-0">
            <!-- Category -->
            <div class="card-body row align-items-stretch no-gutters p-0">
              <div class="col-12 col-sm-6 border border-right-0">
                <div class="space-2 px-3 px-sm-5">
                  <div class="mb-4">
                    <h3 class="h4">Launge Area</h3>
                    <p class="mb-0">Experience a legend</p>
                  </div>
                  <!-- <a href="#">Show Now</a> -->
                </div>
              </div>
              <div class="col-12 col-sm-6 border border-left-0 bg-img-hero-center" data-bg-img-src="images/launge.jpg" style="background-image: url(images/launge.jpg);"></div>
            </div>
            <!-- End Category -->
          </article>
  
          <article class="card border-0 mb-5 mb-lg-0">
            <!-- Category -->
            <div class="card-body row align-items-stretch no-gutters p-0">
              <div class="col-6 border border-right-0">
                <div class="space-2 px-3 px-sm-5">
                  <div class="mb-4">
                    <h3 class="h4">Office Space </h3>
                    <p class="mb-0">Your creative workspace</p>
                  </div>
                  <!-- <a href="#">Show Now</a> -->
                </div>
              </div>
              <div class="col-6 border border-left-0 bg-img-hero" data-bg-img-src="images/work-2.jpg" style="background-image: url(images/work-2.jpg);"></div>
            </div>
            <!-- End Category -->
          </article>
        </div>
        <!-- End Categories -->
  
        <div class="row mb-9">
          <div class="col-sm-6 col-lg-3 mb-5">
            <!-- Shop Item -->
            <a class="d-block border text-dark text-center" href="">
              <img class="img-fluid" src="images/a1.jpg" alt="Image Description">
              <div class="border-top p-4">
                <h2 class="h5">Living Area</h2>
                <!-- <span class="d-block h5 text-primary mb-0">$21</span> -->
              </div>
            </a>
            <!-- End Shop Item -->
          </div>
  
          <div class="col-sm-6 col-lg-3 mb-5">
            <!-- Shop Item -->
            <a class="d-block border text-dark text-center" href="#">
              <img class="img-fluid" src="images/a2.jpg" alt="Image Description">
              <div class="border-top p-4">
                <h3 class="h5">Designer Staircase</h3>
                <!-- <span class="d-block h5 text-primary mb-0">$99</span> -->
              </div>
            </a>
            <!-- End Shop Item -->
          </div>
  
          <div class="col-sm-6 col-lg-3 mb-5">
            <!-- Shop Item -->
            <a class="d-block border text-dark text-center" href="#">
              <img class="img-fluid" src="images/a3.jpg" alt="Image Description">
              <div class="border-top p-4">
                <h3 class="h5">Earthen Designs</h3>
                <!-- <span class="d-block h5 text-primary mb-0">$7</span> -->
              </div>
            </a>
            <!-- End Shop Item -->
          </div>
  
          <div class="col-sm-6 col-lg-3 mb-5">
            <!-- Shop Item -->
            <a class="d-block border text-dark text-center" href="#">
              <img class="img-fluid" src="images/a4.jpg" alt="Image Description">
              <div class="border-top p-4">
                <h3 class="h5">Modern Restroom</h3>
                <!-- <span class="d-block h5 text-primary mb-0">$67</span> -->
              </div>
            </a>
            <!-- End Shop Item -->
          </div>
  
        
        </div>
  
        <!-- <div class="text-center">
          <a class="btn btn-dark btn-wide" href="#">View More</a>
        </div> -->
      </div>
      
    <!-- Testimonials Section -->
    <div class="bg-gray-100 d-none">
        <div class="container space-2 space-3--lg">
          <!-- Title -->
          <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
            <span class="u-label u-label--sm u-label--purple mb-3">Pricing plans</span>
            <h2 class="h3">Customer stories</h2>
            <p>Discover how Space has helped build businesses just like yours.</p>
          </div>
          <!-- End Title -->
  
          <div class="card-sm-columns card-sm-2-count card-lg-3-count">
            <!-- Testimonials -->
            <article class="card rounded mb-3">
              <div class="card-body p-5">
                <blockquote class="text-secondary">I love Space! I love the ease of use, I love the fact that I have total creative freedom. The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly.</blockquote>
              </div>
              <div class="card-footer px-5">
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="images/geeta.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Maria Muzynska</h4>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning font-size-13">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Testimonials -->
  
            <!-- Testimonials -->
            <article class="card rounded mb-3">
              <div class="card-body p-5">
                <blockquote class="text-secondary">We are incredibly impressed with Space and how well it supports its customers with amazing products and services. One simple subscription gives you access to all our tools, plus so much more.</blockquote>
              </div>
              <div class="card-footer px-5">
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="images/geeta.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Mark McManus</h4>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning font-size-13">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Testimonials -->
  
            <!-- Testimonials -->
            <article class="card rounded mb-3">
              <div class="card-body p-5">
                <blockquote class="text-secondary">Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results.</blockquote>
              </div>
              <div class="card-footer px-5">
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="images/geeta.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Alex Pottorf</h4>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning font-size-13">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Testimonials -->
  
            <!-- Testimonials -->
            <article class="card rounded mb-3">
              <div class="card-body p-5">
                <blockquote class="text-secondary">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. I love Space! I love the ease of use, I love the fact that I have total creative freedom. We are incredibly impressed with Space and how well it supports its customers with amazing products and services.</blockquote>
              </div>
              <div class="card-footer px-5">
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="images/geeta.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Charlotte Moore</h4>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning font-size-13">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Testimonials -->
  
            <!-- Testimonials -->
            <article class="card rounded mb-3">
              <div class="card-body p-5">
                <blockquote class="text-secondary">One simple subscription gives you access to all our tools, plus so much more. Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results.</blockquote>
              </div>
              <div class="card-footer px-5">
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="images/geeta.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Ella Brown</h4>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning font-size-13">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Testimonials -->
  
            <!-- Testimonials -->
            <article class="card rounded mb-3">
              <div class="card-body p-5">
                <blockquote class="text-secondary">Just Wow! Space brings so many benefits to any team that does anything following a process. It is the easiest way for teams to build cool things work—and get results.</blockquote>
              </div>
              <div class="card-footer px-5">
                <div class="media">
                  <img class="u-avatar rounded-circle mr-3" src="images/geeta.jpg" alt="Image Description">
                  <div class="media-body">
                    <h4 class="h6 mb-0">Markus Brown</h4>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning font-size-13">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Testimonials -->
          </div>
        </div>
      </div>
    <!-- End Testimonials Section -->

    <!-- CTA -->
    <!-- <div class="gradient-overlay-half-primary-v1">
      <div class="bg-img-hero" style="background-image: url(index_files/bg2.png);">
        <div class="container">
          <div class="row align-items-lg-center text-center text-lg-left space-2">
            <div class="col-lg-7">
              <h2 class="text-white">Get started with Radial Dezigns</h2>
              
            </div>

            <div class="col-lg-5 text-lg-right">
              <a class="btn btn-purple mb-2 mb-sm-0 mr-sm-2" href="signup-simple.html">Get Free Estimate</a>
              
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End CTA -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="bg-dark text-white">
    <div class="container space-2">
      <div class="row justify-content-md-between">
       
          <div class="col-lg-5">
            <div class=" mb-4">
              <a href="index.html"><b>Radial <span>Dezigns</span></b></a>
              <p>We believe that every individual deserves the best in accordance with their affordability and we help them to achieve this through our creative craftsmanship that works toward the goal of inspiring lives and responds to change every day.</p>
             <!--  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul> -->
            </div>
          </div>
          
          <div class="col-lg-3">
             <div class="mb-4 ml-md-4">
              <h4 >Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="index.html" class="py-2 d-block">Home</a></li>
                <li><a href="about.html" class="py-2 d-block">About</a></li>
                <li><a href="work.html" class="py-2 d-block">Projects</a></li>
                <li><a href="contact.html" class="py-2 d-block">Contact</a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class=" mb-4">
              <h4 >Have a Question?</h2>
              <div class=" mb-3">
                <ul class="list-unstyled">
                  <!-- <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li> -->
                  <li><span class="icon icon-phone"></span><span class="text">+91 9958200458, +91 7982628126</span></li>
                  <li><a href="mailto:radialdezigns@gmail.com"><span class="icon icon-envelope"></span><span class="text">radialdezigns@gmail.com </span></a></li>
                </ul>
              </div>
            </div>
          </div>
       
      </div>
      <div class="text-center">
        <p class="small text-muted">All rights reserved. © Radial Dezigns. 2020.</p>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->


  <!-- Go to Top -->
  <a class="js-go-to u-go-to animated js-animation-was-fired slideInUp" href="javascript:;" data-position="{&quot;bottom&quot;: 15, &quot;right&quot;: 15 }" data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown" style="display: inline-block; position: fixed; bottom: 15px; right: 15px;">
    <i class="fa fa-arrow-up u-go-to__inner"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="index_files/jquery.min.js"></script>
  <script src="index_files/jquery-migrate.min.js"></script>
  <script src="index_files/popper.min.js"></script>
  <script src="index_files/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="index_files/hs.megamenu.js"></script>
  <script src="index_files/jquery.validate.min.js"></script>
 

  <!-- JS Space -->
  <script src="index_files/hs.core.js"></script>
  <script src="index_files/hs.header.js"></script>
  <script src="index_files/hs.validation.js"></script>
  
  
  <script src="index_files/hs.go-to.js"></script>

  <!-- Carousel -->
  <script src="index_files/slick.js"></script>
  <script src="index_files/hs.focus-state.js"></script>
  <script src="index_files/hs.show-animation.js"></script>
  <script src="index_files/hs.slick-carousel.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991,
        hideTimeOut: 0
      });
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#password'
          }
        }
      });
      
      // initialization of forms
      $.HSCore.helpers.HSFocusState.init();
      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>

</body>
</html>